
@{
    ViewBag.Title = "Report";
}

<h2>康复建议</h2>

<h3>1.心里方面</h3>
    <label>@ViewBag.a</label>

<h3>2.复查建议</h3>
    @Html.Raw(ViewBag.b)

<h3>3.日常生活</h3>
    @Html.Raw(ViewBag.c)
    @Html.Raw(ViewBag.d)

<h3>4.营养与饮食</h3>
    <p>多食用鸡蛋，牛奶，甲鱼和水果蔬菜等有营养的食物，增强身体抵抗力，同时避免受凉</p>
    @Html.Raw(ViewBag.e)

<h3>5.化疗药物可能的反应</h3>
    @Html.Raw(ViewBag.f)

<h3>6.护理建议</h3>
    <p>长期卧床者要经常翻身，防止，生褥疮；会阴部要经常擦洗；如不能自理刷牙，也要坚持每日用盐水漱口，减少口腔溃疡的发生率；关键是要调整心态，积极配合医生的治疗；祝您早日康复！</p>