
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="panel panel-default">
        <div class="panel-heading"><h3>患者信息</h3></div>
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label for="patientName">姓名</label>
                    <input type="text" class="form-control" id="patientName">
                </div>
            </form>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><h3>@ViewBag.title</h3></div>
        <div class="panel-body">
            <div id="survey"></div>
        </div>
    </div>

    @Scripts.Render("~/bundles/form")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        $(function () {
            var form = new Backbone.Form({
                schema:@Html.Raw(ViewBag.schema),
                submitButton: '提交'
            }).render();

            $('#survey').append(form.el);

            form.on('submit', function (e) {
                e.preventDefault();

                data={};
                data._id='@ViewBag._id';
                data.surveyId='@ViewBag.id';
                data.surveyName='@ViewBag.title';
                data.patientName=$("#patientName").val();
                data.createDate='@DateTime.Now.ToString()';
                data.answers=form.getValue();

                $.post('@Url.Action("SaveSurvey")',JSON.stringify(data),function(result){
                    if(result.error){
                        alert(result.error);
                    }else{
                        alert('查看分析结果');
                        window.location.href='@Url.Action("Analyze")'+'/'+'@ViewBag._id';
                    }

                });
            });
        });
    </script>
</body>
</html>
